@use 'constants';
.members {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 2rem;
  justify-content: space-around;
}
.member-details {
  width: 250px;
  > img {
    height: 250px;
  }
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: constants.$breakpoint-tiny) {
  .members {
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
  }
  .member-details {
    width: 100%;
    > img {
      width: 200px;
    }
    text-align: left;
  }
}


.email {
  background: url("/assets/socialIcons/email.png");
}
.instagram {
  background: url("/assets/socialIcons/instagram.png");
}
.linkedin {
  background: url("/assets/socialIcons/linkedin.png");
}
.github {
  background: url("/assets/socialIcons/github.png");
}
.facebook {
  background: url("/assets/socialIcons/facebook.png");
}
.twitter {
  background: url("/assets/socialIcons/twitter.png");
}
.website {
  background: url("/assets/socialIcons/website.png");
}
.instagram, .facebook, .linkedin, .twitter, .email, .github, .website {
  min-width: 20px;
  min-height: 20px;
  display: block;
  background-size: cover;    /* or 'contain' depending on your need */
  background-position: center;
  background-repeat: no-repeat;
}
.socials {
  display: flex;
  gap: 1em;
}
