@use 'constants';
table {
  width: 100%;
  border-collapse: separate; /* Required for border-spacing to work */
  border-spacing: 5px 5px;
  > caption {
    font-size: 0.9rem;
    padding-top: 0.2rem;
    color: constants.$emph-color;
    font-style: italic;
    caption-side: bottom;
    text-align: justify;
  }
  border: 2px solid rgba(constants.$emph-color, 0.6);
  padding: 0;
  table-layout:fixed;
}
.table {
  display: grid;
  justify-content: center;
}
th,td {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: bottom;
  margin: 0;
}
td {
  vertical-align: middle;
  white-space: nowrap;
}

thead {
    background-color: rgba(constants.$emph-color, 0.2);
}
tr:nth-child(even) {
    background-color: rgba(constants.$emph-color, 0.03);
}

thead > tr{
  text-transform: uppercase;
  text-align: center;
  color: constants.$fg-color;
}

.type, .date {
  text-align: center;
  width: 60px;
}
.date {
  font-weight: bold;
  font-size: 1.2rem;
  width: 100px;
}

td.date {
  font-size: 1rem;
}

.position {
  white-space: normal;
  > a {
    color: constants.$fg-color;
  }
}
