---
layout: default
---

{% if page.hero-image %}
  <div class="hero-image-caption">
	{% if page.hero-image contains "/assets/" %}
	  <img class="hero-image" src="{{ page.hero-image }}"/>
	{% else %}
	  <img class="hero-image" src="/assets/images{{page.permalink}}{{ page.hero-image }}"/>
	{% endif %}
  {% if page.hero-source %}
	  <div id="hero-caption">{{ page.hero-source }}</div>
  {% endif %}
  </div>
{% endif %}
<h1> {{ page.title }} </h1>
<div id="article-data">
{% if page.authors %}
<div>
<div class="author">{{ page.authors | join: ", " }}</div>
{% endif %}
{% if page.author-affiliation %}
<i>{{ page.author-affiliation | join: ", " }}</i>
{% endif %}
</div>
{% if page.date %}
<div class="article-date">{{ page.date | date:"%b %d, %Y"}}</div>
{% endif %}
</div>

{% assign s = page.excerpt | size %}
{% if s > 0 %}
<div class="excerpt">
{{ page.excerpt | markdownify | remove: "<p>" | remove: "</p>"}}
</div>
{% endif %}
<hr>
{{ content }}

{% if page.author-bio %}
<hr>
  <div class="author-bio">
	{% if page.authorImage %}
	<img src={{ "/assets/images" | append: page.permalink | append: page.authorImage }} />
	{% endif %}
    {{ page.author-bio | markdownify }}
  </div>
{% endif %}
<br>
{% if page.addendum %}
  <div class="author-bio">{{ page.addendum | markdownify }}</div>
{% endif %}
<br>

{% if page.refs-file %}
<h3>References</h3>
<div class="references">
<ol>
{% assign counter = 1 %}
{% for line in site.data.references[page.refs-file] %}
<li id="ref-{{ counter }}">{{ line }}</li>
{% assign counter = counter | plus: 1 %}
{% endfor %}
</ol>
</div>
{% endif %}
